@model Bela.Application.ViewModels.User.ForgottenPasswordModel

@{
    ViewData["Title"] = "Zaboravljena lozinka";
}

<div class="row text-center h-100">
    <div class="col-12 mt-4">
        <h2>Zaboravljena lozinka</h2>
        <hr />
        <form asp-action="ForgottenPassword" method="post">
            <div asp-validation-summary="All" class="text-danger reg-form-group"></div>
            <div class="form-group reg-form-group">
                <div class="text-left">
                    <label>Email</label>
                </div>
                <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
            </div>
            <div class="form-group text-center">
                <button id="btnSubmit" type="submit" class="btn btn-secondary">Pošalji link</button>
            </div>
        </form>
    </div>
</div>