/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: #039ed6;
}

a:hover {
    color: #0366d6
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 13px;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #36454f;
    color: whitesmoke;
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.swal2-container {
    position: absolute !important;
}

/* Custom
-------------------------------------------------- */
.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
}

.reg-form-group {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .reg-form-group {
        width: 60% !important;
    }
}

@media (min-width: 1200px) {
    .reg-form-group {
        width: 50% !important;
    }
}

.list-group-item {
    color: black;
}

.user-list-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.user-list .list-group-item:hover {
    background-color: #F0F0F0;
}

#roomList .list-group .list-group-item:hover {
    background-color: #F0F0F0;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.btn-swap {
    padding: .300rem .30rem;
    bottom: 0;
    left: 0;
}

.btn-kick {
    padding: .300rem .30rem;
    bottom: 0;
    right: 0;
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.card-table {
    position: relative;
    background-color: #225B28;
    height: 500px;
    border-radius: 10%;
}

.game-container {
    position: relative;
    width: 1000px;
    margin-top: 2rem;
    margin-left: 10rem;
}

.game-username {
    font-size: 14px;
}

.card-row {
    height: 33.33%;
    width: 20%;
    align-items: center;
    margin: 0 auto;
}

.card-row-middle {
    width: 100% !important;
}

.card-img-in-play {
    padding: 0.5rem;
}

.card-img-middle-row {
    width: 35% !important;
}

.score-table {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 14px;
}

.score-table, .score-table th, .score-table td {
    border: 1px solid lightgrey;
}

.score-table td {
    background-color: darkgray;
}

.score-table th, .tr-total-score td {
    background-color: darkslategrey;
}

.score-table th:first-child {
    width: 50%;
}

.score-table th:nth-child(2), .score-table th:nth-child(3) {
    width: 25%;
}

.tr-total-score {
    height: 2.5rem;
}

.selected-trump {
    position: absolute;
    top: 1rem;
    left: 2rem;
    text-align: center;
    font-size: 13px;
}

.selected-trump > img {
    width: 50px;
    height: 50px;
}

.progress-bar {
    width: 100%;
    transition-duration: 10000ms;
    transition-timing-function: linear;
    transition-property: background-color, width;
}

.dealer {
    width: 15%;
}

.dealer-middle {
    width: 2%;
}

.hand-container {
    width: 800px;
    height: 150px;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.card-in-hand {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.cursor-pointer {
    cursor: pointer;
}

.card-selected {
    bottom: 15px;
}

.speech-bubble {
    background: #c74d4d;
    border-radius: .4em;
    text-align: center;
    font-size: 14px;
}

.speech-bubble-up-down {
    margin: 0 auto;
    width: 15%;
}

.speech-bubble-left {
    margin-right: 0;
    margin-left: auto;
    width: 100%
}

.speech-bubble-right {
    margin-left: 0;
    margin-right: auto;
    width: 100%
}

.call-container {
    width: 85%;
    justify-content: center;
    margin-bottom: 5rem;
}

.call-container-left {
    width: 30%;
    justify-content: center;
    transform: rotate(90deg);
}

.call-container-right {
    margin-left: 12rem;
    width: 30%;
    justify-content: center;
    transform: rotate(90deg);
}

.call-card {
    margin-left: -3rem;
}

.call-card-next {
    margin-left: 0rem;
}

@media (max-width: 1269px) {
    .game-container {
        margin-left: 0rem;
    }
}

@media (max-width: 1119px) {
    .game-container {
        width:  800px;
    }

    .card-table {
        height: 400px;
    }

    .selected-trump {
        font-size: 12px;
    }

    .selected-trump > img {
        width: 40px;
        height: 40px;
    }

    .hand-container {
        width: 700px;
        height: 120px;
    }

    .call-card {
        margin-left: -2rem;
    }

    .call-card-next {
        margin-left: 0rem;
    }

    .call-container-right {
        margin-left: 10rem;
    }
}

@media (max-width: 949px) {
    .game-container {
        width: 700px;
    }

    .card-table {
        height: 350px;
    }

    .score-table {
        width: 220px;
        font-size: 12px;
    }

    .card-row {
        width: 23%;
    }

    .card-img-middle-row {
        width: 37% !important;
    }

    .dealer {
        width: 20%;
    }

    .dealer-middle {
        width: 2.5%;
    }

    .hand-container {
        width: 600px;
        height: 120px;
    }

    .call-card {
        margin-left: -2.6rem;
    }

    .call-card-next {
        margin-left: -0.5rem;
    }

    .call-container-right {
        margin-left: 9rem;
    }
}

@media (max-width: 829px) {
    .game-container {
        width: 600px;
    }

    .card-table {
        height: 300px;
    }

    .score-table {
        width: 200px;
        font-size: 10px;
    }

    .card-row {
        width: 24%;
    }

    .card-img-middle-row {
        width: 37% !important;
    }

    .game-username {
        font-size: 12px;
    }

    .selected-trump {
        font-size: 10px;
    }

    .selected-trump > img {
        width: 30px;
        height: 30px;
    }

    .hand-container {
        width: 550px;
        height: 100px;
    }

    .speech-bubble {
        font-size: 12px;
    }

    .call-card {
        margin-left: -2rem;
    }

    .call-card-next {
        margin-left: -0.5rem;
    }

    .call-container-right {
        margin-left: 8rem;
    }
}

@media (max-width: 669px) {
    .game-container {
        width: 450px;
        margin-left: 1rem;
    }

    .card-table {
        height: 225px;
    }

    .score-table {
        width: 180px;
        font-size: 10px;
    }

    .card-row {
        width: 28%;
    }

    .card-img-middle-row {
        width: 43% !important;
    }

    .game-username {
        font-size: 10px;
    }

    .selected-trump {
        font-size: 8px;
    }

    .selected-trump > img {
        width: 20px;
        height: 20px;
    }

    .dealer {
        width: 30%;
    }

    .dealer-middle {
        width: 2.9%;
    }

    .hand-container {
        width: 450px;
        height: 70px;
    }

    .speech-bubble {
        font-size: 10px;
    }

    .call-container-left {
        width: 35%;
    }

    .call-container-right {
        margin-left: 6rem;
        width: 35%;
    }
}

@media (max-width: 579px) {
    .game-container {
        width: 400px;
        margin-left: 1rem;
    }

    .card-table {
        height: 200px;
    }

    .score-table {
        width: 150px;
        font-size: 8px;
    }

    .card-row {
        width: 28%;
    }

    .card-img-middle-row {
        width: 43% !important;
    }

    .game-username {
        font-size: 10px;
    }

    .call-card {
        margin-left: -1.7rem;
    }

    .call-card-next {
        margin-left: -0.5rem;
    }
}

