/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
    color: #039ed6;
}

a:hover {
    color: #0366d6
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 13px;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #36454f;
    color: whitesmoke;
    margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}



/* Custom
-------------------------------------------------- */

.navbar-dark .navbar-nav .nav-link {
    color: whitesmoke;
}

.reg-form-group {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .reg-form-group {
        width: 60% !important;
    }
}

@media (min-width: 1200px) {
    .reg-form-group {
        width: 50% !important;
    }
}

.list-group-item {
    color: black;
}

.user-list-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.user-list .list-group-item:hover {
    background-color: #F0F0F0;
}

#roomList .list-group .list-group-item:hover {
    background-color: #F0F0F0;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.btn-swap {
    padding: .300rem .30rem;
    bottom: 0;
    left: 0;
}

.btn-kick {
    padding: .300rem .30rem;
    bottom: 0;
    right: 0;
}

.bg-gray {
    background-color: gray;
}

.bg-green {
    background-color: green;
}

.card-table {
    background-color: forestgreen;
    height: 500px;
}


